// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
// Define fonts for body and headers
$body-font: "Quicksand", sans-serif;
$headers-font: "BD Supper", "Helvetica";

@font-face {
  font-family: 'BD Supper';
  src: url('BDSupperRegular.eot');
  src: local('BD Supper'), local('BDSupperRegular'),
      url('BDSupperRegular.eot?#iefix') format('embedded-opentype'),
      url('BDSupperRegular.woff2') format('woff2'),
      url('BDSupperRegular.woff') format('woff'),
      url('BDSupperRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BD Supper Bold';
  src: url('BDSupperBold.eot');
  src: local('BD Supper Bold'), local('BDSupperBold'),
      url('BDSupperBold.eot?#iefix') format('embedded-opentype'),
      url('BDSupperBold.woff2') format('woff2'),
      url('BDSupperBold.woff') format('woff'),
      url('BDSupperBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// $bdsupperbold: "BD Supper Bold";
// $bdsupper: "BD Supper";
p, h3 {
  font-weight: 400;
  font-size:16px;
  line-height: 1.6;
  margin:0 !important;
}

.text-bold, h3 {
  font-weight: 600 !important;
}

.overtitre {
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
