.dog-profile {
  .avatar-large {
    box-shadow: $custom-shadow;
    border:2px solid $black;
  }
}

.dog-infos {
  padding:16px;
  margin-top: 14px;
}

.dog-weight {
  color: $black500;
  text-decoration: none;
}

.dog-profile-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 90px;
}

.dog-comportement {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-top: 24px;
  text-align:center;

  img {
    width:54px;
  }

  span {
    font-size:12px;
    line-height:1.2;
    font-weight:700;
  }
  .btn-square {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dog-comportement-neutered {
    display:flex;
    align-items: center;
    justify-content: center;
    span {
      font-size:16px;
    }
  }
}
