.feeds-container {

  .header {
    position: relative;

    .feeds-avatar {
      position: absolute;
      right: 1rem;
      top: 30px;

      .avatar-middle {
        height: 80px !important;
        width: 80px !important;
      }
    }

    .header-top {
      background-color: $principal;
      color: $white;
      padding: 0.35rem 0rem 0.35rem 1rem;

      h5 {
        margin: 0 !important;
      }
    }

    .friends {
      padding: 0.7rem 0rem 0.7rem 1rem;

      .friends-container {
        h2 {
          margin-bottom: 0.75rem;
        }
      }

      .friends-avatar {
        display: flex;
        width: 70%;
        gap:8px;
        align-items: center;
        margin-bottom: 0.5rem;

        p {
          color: $black500;
          font-weight: 400;
        }

        .bold {
          font-weight: 900;
        }

        .avatar-small {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }

        .display-friends {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }

  .friends-request {
    background-color: $principal-light;
  }

  .walks-request {
    background-color: $principal-light;
  }

  .spots-wrapper {
    display:flex;
    gap:16px;
    overflow: hidden;
    width: 260%;
    position: relative;
    .card-spot {
      width:320px;
      margin-top:0;
    }
  }

  .spots-overflow {
    overflow-x: scroll;
    margin-left:16px;
  }

  .post-card {
    border-radius:8px;
    margin:24px 0;
    border:1px solid $black300;
    overflow: hidden;
    &:not(:first-child) {
      margin-top:0px;
    }
    .post-card-info {
      padding:16px;
    }
    h6 {
      margin:0;
    }
    p {
      color:$black500
    }
    .post-photo {
      border-radius:0 0 8px 8px;
      width:100%;
      object-fit: cover;
    }
  }
  h4 {
    margin-left:16px;
  }
  .posts-wrapper {
    padding:0 16px;
    h4 {
      margin-left:0;
    }
  }
}
