abbr {
  display:none;
}

.health-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:16px;
}

.health-selector {
  position: absolute;
  transform: scale(0);
}

.collection_radio_buttons {
  background-size:50%;
  background-position: center 40px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-weight:700;
  padding: 8px;
  aspect-ratio: 1 / 1;
}

#dog_personality_sympa_avec_tout_le_monde + label {
  background-image: asset-url('form-icons/sympa.svg');
}

#dog_personality_carrément_timide + label {
  background-image: asset-url('form-icons/timide.svg');
}

#dog_personality_jai_mes_têtes + label {
  background-image: asset-url('form-icons/jai-tetes.svg');
}

#dog_personality_faut_pas_me_chercher + label {
  background-image: asset-url('form-icons/faut-pas-chercher.svg');
}

#dog_personality_fou-fou + label {
  background-image: asset-url('form-icons/foufou.svg');
}

#dog_gender_female + label {
  background-image: asset-url('form-icons/female.svg');
}
#dog_gender_male + label {
  background-image: asset-url('form-icons/male.svg');
}

#dog_health_je_pète_la_forme + label {
  background-image: asset-url('form-icons/pete-forme.svg');
}

#dog_health_raplapla + label {
  background-image: asset-url('form-icons/raplapla.svg');
}

#dog_health_sous_traitement + label {
  background-image: asset-url('form-icons/pets-hospital.svg');
}




.radio_buttons:checked + label {
  background:$second;
  background-size:50%;
  background-position: center 40px;
  background-repeat: no-repeat;
  box-shadow: $custom-shadow;
  transform:rotate(3deg)
}

/* Slider UI */

.bg-purple {
  background-image: image-url('background-form.svg');
}
label, .col-form-label {
  font-weight: 700;
  color:$white;
}

.form-control, .form-select, select {
  box-shadow:2px 2px 0px $black500;
  border-radius:8px !important;
}
.range {
  display:flex;
  flex-direction:column;
  position:relative;
  margin-bottom:24px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient($white, $white);
  background-size: 100% 100%;
}
.slider-value {
  background:$second;
  padding:4px 0;
  width:32px;
  text-align: center;
  border-radius:4px;
  color:$principal;
  font-weight: 700;
  position:absolute;
  top:68px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $second;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* Walk form */

.walk_invitations_message input {
  height:170px;
}
