.home-info {
  padding: 32px;
  padding-top: 158px;
}

.home-info h1 {
  font-size: 36px;
}

.home-container {
  height:100vh;
  background-color: $principal;
  width: 100%;
  padding: 0px 12px;
}

.home-info-second {
  color: $second;
}

.home-log {
  text-align: center;
}

.home-paw {
  position: absolute;
  width: 150px;
  right: -50px;
  top: -30px;
}

.chien-mascotte-home {
  object-position: left bottom;
  position: absolute;
  bottom: -60px;
  left: -70px;
  img {
    width: 310px;
  }
}

.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
