.home-info {
  padding: 32px;
  padding-top: 15vh;;
}

.home-info h1 {
  font-size: 36px;
}

.home-container {
  height:100vh;
  background-color: $principal;
  width: 100%;
  padding: 0px 12px;
}

.home-info-second {
  color: $second;
}

.home-log {
  display:flex;
  flex-direction:column;
  gap:16px;
}

.home-paw {
  position: absolute;
  width: 150px;
  right: 42px;
  top: -30px;
}

.chien-mascotte-home {
  object-position: left bottom;
  position: absolute;
  bottom: -30px;
  left: -25px;
  img {
    width: 50vw;
  }
}

.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
