.spot-wrapper {
  position:relative;
  overflow:hidden;
  z-index: -1;
}

.chien-mascotte {
  position:absolute;
  bottom: 15px;
  right: -40px;
  animation: breatheDog 1s infinite alternate-reverse;
}


.spot-image {
  width:100%;
  object-fit: cover;
}

.spot {
  padding:24px 16px;
  border-radius: 32px 32px;
  margin-top: -32px;
  z-index: 999;
  background: white;

  .card-spot-info {
    display:flex;
    padding:0;
    align-items: center;
    gap:32px;
  }

  h1 {
    margin: 12px 0;
  }
  .spot-adress {
    font-weight: 600;
    color: $black;
  }

  .spot-description {
    margin-top: 12px !important;
    color:$black700;
  }

  .spot-informations {
    background: $second;
    padding: 16px 24px;
    margin: 24px 0;
    border: 1px solid $black;
    transform: rotate(-3deg);
    border-radius: 8px;
    box-shadow: $custom-shadow;
    display: flex;
    flex-direction:column;
    gap:16px;
    font-weight:700;
  }
}

@keyframes breatheDog {
  0% {
    transform:scale(0.9);
  }

  100% {
    transform:scale(1);
  }
}
