<div class="container py-4 text-center bg-purple">
  <h1>Profil de ton chien</h1>
  <div>
  <%= image_tag "chien-mascotte.svg", class:"avatar-large" %>
  </div>
  <%= render "form", dog: @dog %>
</div>
