<div class="toolbar-luckypet sticky-bot col-12">
  <%= link_to spots_path do %>
    <div class="icone_1">
      <i class="fa-solid fa-location-dot"></i>
      <span>home</span>
    </div>
  <% end %>
  <% if current_user && current_user.dog %>
    <%= link_to dog_path(current_user.dog) do %>
      <div class="icone_3">
        <i class="fa-solid fa-dog"></i>
        <span>mon chien</span>
      </div>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= link_to dog_path(current_user.dog) do %>
      <div class="icone_3">
        <i class="fa-solid fa-dog"></i>
        <span>mon chien</span>
      </div>
    <% end %>
  <% end %>
</div>
