<%#  On voit la balade %>
<div class="container_reservation">
  <h2> Mes balades </h2>

  <% @walks.each do |item| %>
    <% if item.is_a?(Walk) %>
      <%= render partial: "walk_info", locals: { walk: item } %>
    <% elsif item.is_a?(Invitation) %>
     <%= render partial: "invitation_info", locals: { invitation: item } %>
    <% end %>
  <% end %>
</div>
