.dog-card {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 12px;
  h4 {
    color: $second;
    margin-bottom:-4px;
  }
}

.dog-card:not(:first-child) {
  margin-top:16px;
}
