.mapboxgl-ctrl, .mapboxgl-ctrl-bottom-right {
  display:none !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.marker {
  animation: pinPoint 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@for $i from 1 through 50 {
  .marker-#{$i} {
    animation-delay: #{$i/5}s ;
  }
}

@keyframes pinPoint {
  0% {
    top:-40px;
    opacity:0;

  } 100% {
    top:0px;
    opacity:1;

  }
}
