.mapboxgl-ctrl, .mapboxgl-ctrl-bottom-right {
  display:none !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
