.toolbar-luckypet {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 30px;
  justify-content: space-between;
  background: $white;
  border: 1px solid $black;
  box-shadow: 2px 2px 0px $black;
  border-radius: 104px;
  width: 300px;
  padding: 7px 30px 7px 30px;
  position: sticky;
  bottom: 3%;
  left: 10%;
}

.toolbar-luckypet a {
  color: $black500;
  text-decoration: none;
  font-family: "Quicksand";
}

.icone_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 5px;
  color: $black500;
}

.icone_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black500;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 5px;
}

.icone_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black500;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 5px;
  width: 49.33px;
  height: 63px;
  span {
    white-space: pre;
  }
}

.toolbar-luckypet .icone_1:hover {
  color: $principal;
  text-decoration: none;
  box-shadow: 2px 2px 0px $black;
}

.toolbar-luckypet .icone_2:hover {
  color: $principal;
  text-decoration: none;
  box-shadow: 2px 2px 0px $black;
}

.toolbar-luckypet .icone_3:hover {
  color: $principal;
  text-decoration: none;
  box-shadow: 2px 2px 0px $black;
}

.icone_3 a {
  font-size: 13px;
}
