.toolbar-luckypet {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 30px;
  justify-content: space-between;
  background: $white;
  border: 1px solid $black;
  box-shadow: 2px 2px 0px $black;
  border-radius: 104px;
  width: 300px;
  padding: 7px 30px 7px 30px;
  position: fixed;
  bottom: 3%;
  left: calc(50% - 150px);
}

.toolbar-luckypet a {
  color: $black500;
  text-decoration: none;
  font-family: "Quicksand";

  &:hover {
    box-shadow: none;
    color:$principal;
  }
}

.nav-icon {
  height:48px;
  width:48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 5px;
  color: $black500;
  span {
    white-space: pre;
  }
}

.nav-active {
  background-color:$principal-light;
  color:$principal;
  border-radius:50%;
}

.toolbar-luckypet .icone_1:hover {
  color: $principal;
  text-decoration: none;
}

.toolbar-luckypet .icone_2:hover {
  color: $principal;
  text-decoration: none;
}

.toolbar-luckypet .icone_3:hover {
  color: $principal;
  text-decoration: none;
}

.icone_3 a {
  font-size: 13px;
}
