<div class="card-spot">
  <div class="card-spot-img">
    <img src="/images/test.jpg" alt="test" width=100% height=100%>
  </div>
  <div class="card-spot-info">
    <div class="card-spot-top">
      <div class="card-spot-rating">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
      <div class="card-spot-type">
        <h6>balade</h6>
        <i class="fa-solid fa-location-dot"></i>
      </div>
    </div>
    <div class="card-spot-bot">
      <div class="card-spot-title">
        <h3>L'etang de la magnifique</h3>
        <p>à 2km</p>
      </div>
      <div class="card-spot-description">
        <p>C'est tait un super etang et c'est tait un endroit avec un etant et c'est tait un super eatng de la magnifique</p>
      </div>
    </div>
  </div>
</div>
