<div class="toolbar-luckypet fixed-bot col-12">
  <a href="">
    <div class="icone_1">
      <i class="fa-solid fa-house"></i>
      <span>home</span>
    </div>
  </a>
  <a href="">
    <div class="icone_2">
      <i class="fa-solid fa-location-dot"></i>
      <span>Spots</span>
    </div>
  </a>
  <a href="">
    <div class="icone_3">
      <i class="fa-solid fa-dog"></i>
      <span>mon chien</span>
    </div>
  </a>
</div>
